*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}
:root{
--color-neutral-0: #0c0c;
--color-neutral-10: #171717;
--color-neutral-30: #a8a29e;
--color-neutral-40: #f5f5f5 ;


}

.Gabriel{
   min-height: 150vh; 
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex1{
    display: flex;
    align-items: center;
    gap: 144px;
    border-radius: 50%;
    transition: 0.9s
}
.flex1 img:hover{
opacity: 0.7;
scale: 105%;
}

header{
width: 100%;
padding: 5px 4%;
position: fixed;
top: 0;
left: 0;
background-color: black;


}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

header ul li:hover{
    opacity: .2;
scale: 110%;
}

.banner{
    height: 100vh;
    background: rgba(0,0,0,0.7) url(imagens/bannerop5.png);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;

}
.banner h1{
    font-size: 56px;
    color: white;
}
.banner h1 span{
color: #00A4FF;
}
.banner p{
    margin-top: 2rem;
    font-size: 24px;
    color:white
}

.btn-cadastro1 button{
    width: 200px;
    height: 50px;
    border: 0;
    background-color: #2D83A6;
    color: white;
    cursor: pointer;
    transition: .2s;
    border-radius: 25px; 
    margin-top: 2rem;
    font-size: 20px;
}

.btn-cadastro1 button:hover{
    opacity: 0.7;
    scale: 105%;
}
.btn-cadastro1 p{
    font-size: 18px;

}

.Logo1{
    height:264px ;
    width:424px ;
    transition: .2s;
}

.Logo1:hover{
    scale:110%
}

.Logo-escrita{
    padding-top: 10px;
}

.texto-botao{
    width: 60vw;
    padding: 5px 4%;
}

.footer1 {
    text-decoration: none;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 9%;
    color: white;
}

.footer1 p {
    margin-right: 40px;
}

.email p {
    margin-top: 12px;
}

.email h3 {
    font-size: 18px;
    color: #2D83A6;
}

.redessociaisft img {
    padding: 8px;
    transition: all .2s;
}

.redessociaisft img:hover{
opacity: 0.7;
scale: 105%;

}

.rdsc {
    display: flex;
    gap: 8rem;
    align-items: center;
}
.popup-caixa {
    display: none;
    position: fixed;
    top: 0;
    left: 0;




    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


.popup-conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}


.fechar {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}


.popup {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.desconto {
    color: #00A4FF;
}


.caixa {
    background-color: white;
    width: 400px;
    height: 540px;
    text-align: center;
    align-items: center;
}




#icon {
    padding: 10px;
    padding-bottom: 20px;
    height: 100px;
}


#botao {
    color: white;
    background-color: #32A9D9;
    border-color: #32A9D9;
    border-radius: 70px;
    height: 45px;
    width: 250px;
    font-size: 17px;
}

#botao a{
    color: white;
    text-decoration: none;
}

#ja-conta {
    padding-top: 10px;
    font-size: 15px;
}


#lyrics {
    margin: 20px;
    font-size: large;




}


.texto {
    color: white;
}


#Homem-popup {
    height: 240px;
}
